<div class="to-do-list">
  <mat-card>
    <mat-card-content
      ><div class="header">To-Do List</div>
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput [(ngModel)]="searchValue" (input)="filterTasks()" />
      </mat-form-field>

      <mat-checkbox
        color="primary"
        [(ngModel)]="isOnlyCurrentTasks"
        (change)="toggleShownTasks()"
        >Show only current tasks</mat-checkbox
      >

      <div class="enter-your-task">
        <mat-form-field appearance="outline">
          <mat-label>Enter your task</mat-label>
          <input matInput [(ngModel)]="newTask.title" />
        </mat-form-field>
        <!-- <input class="enter-task" type="text" placeholder="Enter your task" /> -->
        <button
          mat-raised-button
          color="primary"
          class="animate__animated animate__fadeInLeft animate__fast"
          (click)="addTask()"
          *ngIf="isEdit === false"
        >
          <mat-icon>add</mat-icon> Add
        </button>
        <button
          mat-stroked-button
          color="warn"
          (click)="cancelEdit()"
          *ngIf="isEdit === true"
        >
          <mat-icon>close</mat-icon>Cancel
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="saveEditedTask()"
          *ngIf="isEdit === true"
        >
          <mat-icon>done</mat-icon> Save
        </button>
      </div>

      <div
        class="current-tasks animate__animated animate__fadeInLeft animate__fast"
      >
        {{ isOnlyCurrentTasks === true ? "Current Tasks:" : "All Tasks:" }}
        {{ filteredTasks.length }}
      </div>
      <div
        class="task animate__animated animate__fadeInLeft animate__fast"
        *ngFor="let task of filteredTasks; index as i"
      >
        <span [ngClass]="task.isDone === true ? 'completed-task' : ''"
          >{{ i + 1 + ". " + task.title | slice : 0 : 30 }}
          {{ task.title.length > 30 ? "..." : "" }}</span
        >
        <div class="task-buttons">
          <button mat-icon-button color="primary" (click)="openEdit(task, i)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteTask(i)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="setTaskAsDone(i)">
            <mat-icon>done</mat-icon>
          </button>
        </div>
      </div></mat-card-content
    >
  </mat-card>
</div>
